@import "./variabels.css";
@font-face {
  font-family: 'Gilroy';
  src: url('../../static/fonts/Gilroy-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy Ebold';
  src: url('../../static/fonts/Gilroy-Bold.otf');
  font-weight: normal;
  font-style: normal;
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  line-height: 1.4;
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Gilroy;
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
p {
  font-family: Gilroy;
  margin-bottom: 1.25rem;
}
a {
  font-family: Gilroy;
  text-decoration: none;
}
dl,
ol,
ul {
  font-family: Gilroy;
  padding-left: 0;
}
.Separator {
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  background-color: var(--main-color);
}
.margin-m-10 {
  margin-top: -10px;
}
.margin-p-40 {
  margin-top: 40px;
}

.navbar {
  width: 90%;
  box-shadow: none !important;
}
.bggray{
  background-color: var(--grey-color);
}
#nav-bg {
  background-color: var(--main-color);
  border-radius: 0% 200% 15% 0% / 150% 0% 200% 150%;
}
.borderimg {
  background-image: url("../../images/path-7.svg") !important;
  background-position: bottom !important;
  background-repeat: no-repeat !important;
  background-size: 70% 4px !important;
}
.borderleft{
  background-image: url('../../images/border-left.svg');
  background-position: left !important;
  background-repeat: no-repeat !important;
  background-size: contain;
}
.navbar-nav .dropdown-menu.show {
  display: table;
  width: 100%;
  border-radius: 0;
  background-color: transparent;
  border: none !important;
  transform: translate3d(0px, 25px, 0px) !important;
}
.navbar .dropdown-menu a {
  padding: 0 10px !important;
  display: inline;
  border-left: solid 1px var(--light-turquoise-color);
}
.navbar .dropdown-menu a:first-child {
  border: 0px;
}
.navbar .dropdown-menu a {
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--white-color) !important;
}
.navbar .dropdown-menu a:hover {
  color: var(--light-turquoise-color) !important;
  background-color: transparent !important;
}
.navbar .dropdown-menu a:active {
  color: var(--light-turquoise-color) !important;
  background-color: transparent !important;
}
.navbar .nav-item .nav-link {
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--white-color);
}

/*ekm*/
.ekm {
  padding-top: 60px;
  padding-bottom: 60px;
}
.ekm h1 {
  font-size: 30px;
  padding-bottom: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--font-color);
}
.ekm .tab-section {
  margin-top: 50px;
}
.ekm .tab-section .nav-pills .nav-link {
  padding: 10px 30px;
  border-radius: 11px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(
    78deg,
    var(--dark-turquoise-color),
    #0cefa5 100%
  );
  color: var(--white-color);
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  font-size: 20px;
  letter-spacing: normal;
  text-align: center;
  margin: auto;
}
.ekm .tab-section .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--font-color);
  background-color: transparent;
  box-shadow: none;
  background-image: url("../../images/path-7.svg") !important;
  background-position: bottom !important;
  background-repeat: no-repeat !important;
  background-size: 70% 4px !important;
}
.ekm .tab-section .nav-item {
  display: flex;
  margin: auto;
}
.ekm .tab-section .tab-content {
  margin-top: 40px;
}
.ekm .tab-section .tab-content > .tab-pane p {
  padding: 8%;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: 0.42px;
  text-align: justify;
  color: var(--font-color);
}
.ekm .box {
  border-radius: 16.7px;
  box-shadow: 0 24px 43px 0 rgba(73, 85, 136, 0.2);
}
.ekm .box .title {
  display: flex;
  padding: 15px 15px 0;
}
.ekm .box .title h2 {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--font-color);
}
.ekm .box .title hr {
  width: 60%;
  height: 3px;
  border-radius: 1.5px;
  background-image: linear-gradient(
    78deg,
    var(--dark-turquoise-color),
    var(--light-turquoise-color) 100%
  );
}
.ekm .box .text p {
  font-size: 16px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: -0.78px;
  text-align: justify;
  color: var(--font-color);
  padding: 20px 30px;
}
.ekm .certificate .title {
  display: flex;
  padding: 15px 15px 0;
}
.ekm .certificate .title h2 {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--font-color);
}

.ekm .certificate .title hr {
  width: 75%;
  height: 3px;
  border-radius: 1.5px;
  background-image: linear-gradient(
    78deg,
    var(--dark-turquoise-color),
    var(--light-turquoise-color) 100%
  );
}

/*erfahrungen*/
.experience {
  padding-top: 60px;
  padding-bottom: 60px;
}
.experience h1 {
  font-size: 30px;
  padding-bottom: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--font-color);
}
.experience p {
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: justify;
  color: var(--font-color);
}

/**/
.services {
  padding-top: 60px;
  padding-bottom: 60px;
}
.services h1 {
  font-size: 30px;
  padding-bottom: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--font-color);
}
.services p {
  padding-right: 20%;
  font-size: 18px;

  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.42px;
  text-align: justify;
  color: var(--font-color);
}
.services .borderimg {
  float: left;
  background-size: contain !important;
  width: 18%;
}

.services .service-short img {
  max-width: 100px;
  margin-left: 0;
  object-fit: contain;
  margin-left: -20px;
}
.services .service-short h3 {
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.65;
  letter-spacing: normal;
  color: var(--font-color);
  margin-bottom: 32px;
}
.services .service-short p {
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: justify;
  color: var(--font-color);
}
.services .service-long{
}
.services .service-long .details{
}
.services .service-long .details p{
  padding-right: 0;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: -0.1px;
  color: var(--font-color);
}
.services .service-long .details .title{
  display: flex;
}
.services .service-long .details .title h2{
  padding-left: 30px;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--font-color);
}
.services .service-long .details .title img{
  max-width: 66px;
  margin-left: -15px;
}
.services .service-long .details .list{
}
.services .service-long .details .list .block{
  padding-left: 30px;
}
.services .service-long .details .list .block h6{
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  color: #1b435e;
}

.services .service-long .details .list .block p{
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: var(--font-color);

}
/*Footer*/
footer.page-footer {
  background-color: var(--grey-color);
}
footer.page-footer a {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--font-color) !important;
}
footer .title {
  font-size: 14px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--font-color);
}
footer .img-fluid {
  width: 130px;
}
footer.page-footer .footer-copyright {
  background-color: var(--grey-color) !important;
  overflow: hidden;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--font-color) !important;
}
.footer p {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--font-color);
}
footer .social {
  display: flex;
  list-style: none;
}

footer .social li {
  display: inline-flex;
  padding-right: 30px;
}
