@import "./variabels.css";
@font-face {
  font-family: "Gilroy";
  src: url("../../static/fonts/Gilroy-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy Ebold";
  src: url("../../static/fonts/Gilroy-Bold.otf");
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: "Gilroy Ebold";
  src: url("../../static/fonts/Gilroy-Extrabold.otf");
  font-weight: bolder;
  font-style: bolder;
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  line-height: 1.4;
  font-size: 1rem;
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #ffffff,
    rgb(204, 228, 255, 0.2) 43%,
    rgb(204, 228, 255, 0.2) 100%
  );
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Gilroy;
  margin-bottom: 1.25rem;
  letter-spacing: 0.5px !important;
}
p {
  font-family: Gilroy;
  margin-bottom: 1.25rem;
}
a {
  font-family: Gilroy;
  text-decoration: none;
  letter-spacing: 0.5px !important;
}
dl,
ol,
ul {
  font-family: Gilroy;
  padding-left: 0;
}
.Separator {
  width: 100%;
  height: 2px;
  border-radius: 1.5px;
  background-color: var(--main-color);
}
.rectangle {
  width: 5px;
  height: 50px;
  margin-right: 20px;
  margin-top: -10px;
  border-radius: 4px;
  background-image: linear-gradient(5deg, #2ccccc, #0cefa5);
}
.btn {
  font-family: Gilroy !important;
  border-radius: 30px !important;
  color: black !important;
  text-transform: unset !important;
}
.fab {
  font-weight: 400;
  font-size: 18px;
}
.margin-m-10 {
  margin-top: -10px;
}
.margin-p-40 {
  margin-top: 40px;
}
.margin-p-60 {
  margin-top: 80px;
}
.margin-p-10 {
  margin-top: 10px;
}
.margin-p-20 {
  margin-top: 20px;
}
.margin-p-right-10 {
  margin-right: 10px;
}
.margin-p-right-30 {
  margin-right: 40px;
}
.margin-p-right-25 {
  margin-right: 25px;
}
.margin-m-bottom-50 {
  margin-bottom: -50px;
}
.margin-p-bottom-50 {
  margin-bottom: 50px;
}
.margin-auto {
  margin: auto;
}
.padding-p-bottom-10 {
  padding-bottom: 10rem;
}
.padding-p-top-10 {
  padding-top: 5rem;
}
.fixed-top {
  position: absolute !important;
}
.navbar {
  width: 90%;
  box-shadow: none !important;
}
.navbar-toggler-icon {
  background-image: url("../../images/hamburger-menu.svg") !important;
}
.carousel-indicators {
  top: 105%;
}
.carousel-indicators li {
  background-color: var(--main-color) !important;
  opacity: 1 !important;
}
.carousel-indicators .active {
  background-color: var(--dark-turquoise-color) !important;
  opacity: 1;
}
.bggray {
  background-image: linear-gradient(
    to top,
    #ffffff,
    #ffffff,
    rgb(204, 228, 255, 0.2) 43%,
    rgb(204, 228, 255, 0.2) 100%
  );
}
#nav-bg {
  background-color: var(--main-color);
  border-radius: 0% 200% 15% 0% / 150% 0% 200% 150%;
}
.borderimg {
  background-image: url("../../images/path-7.svg") !important;
  background-position: bottom !important;
  background-repeat: no-repeat !important;
  background-size: 70% 4px !important;
}
.borderleft {
  background-image: url("../../images/border-left.svg");
  background-position: left !important;
  background-repeat: no-repeat !important;
  background-size: contain;
}
.darkborder {
  background-image: url("../../images/border-dark.svg") !important;
  background-position: left bottom !important;
  background-repeat: no-repeat !important;
}
.navbar-brand {
  margin-left: 1rem;
}
.navbar-nav .dropdown-menu.show {
  display: table;
  width: 100%;
  border-radius: 0;
  background-color: transparent;
  border: none !important;
  transform: translate3d(0px, 25px, 0px) !important;
}
.navbar .dropdown-menu a {
  padding: 0 10px !important;
  display: inline;
  border-left: solid 1px var(--light-turquoise-color);
}
.navbar .dropdown-menu a:first-child {
  border: 0px;
}
.navbar .dropdown-menu a {
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--white-color) !important;
}
.navbar .dropdown-menu a:hover {
  color: var(--light-turquoise-color) !important;
  background-color: transparent !important;
}
.navbar .dropdown-menu a:active {
  color: var(--light-turquoise-color) !important;
  background-color: transparent !important;
}
.navbar .nav-item .nav-link {
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--white-color);
}
/*intro*/
.promo {
  background-color: #fff;
}
.promo .view .mask {
  background-image: url("../../images/bg-index.svg");
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-attachment: unset !important;
  height: 100vh !important;
}
.promo .view h6 {
  margin-top: 40px;
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: justify;
  color: #ffffff;
}
.promo .view h1 {
  margin-top: 40px;
  font-family: Gilroy;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: justify;
  color: #ffffff;
}
.promo .view span {
  font-family: Gilroy Ebold;
  font-weight: bolder;
  font-style: bolder;
}
.promo .view img,
.view video {
  position: absolute !important;
  top: 7rem !important;
  display: block;
}
.promo .view .box {
  height: 30px;
  border-radius: 30px !important;
  background-color: rgba(0, 0, 0, 0.2);
}
.promo .view .box .btn {
  height: 24px;
  padding: 15px 20px;
  margin: 0;
  text-align: center;
  line-height: 0;
}
.promo .view .box p {
  display: inline-block;
  font-size: 10px;
  padding-left: 10px;
}
.promo .view .box a {
  font-size: 10px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #17e4b2;
  margin-left: 10px;
  text-decoration: underline;
}
.home {
  padding-top: 60px;
  background-color: #fff;
  padding-bottom: 60px;
}
.home h1 {
  font-size: 30px;
  padding-bottom: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--font-color);
}
.home .details {
  margin-top: 70px;
}
.home .details h2 {
  font-family: Gilroy Ebold;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.37;
  letter-spacing: normal;
  color: var(--font-color);
}

.home .details p {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: justify;
  color: var(--font-color);
}
.home .details .bottom {
  margin-top: 40px;
}
.home .details .bottom img {
  max-width: 70px;
  margin-left: 0;
  object-fit: contain;
  margin-left: -10px;
}
.home .details .bottom h3 {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.65;
  letter-spacing: normal;
  color: var(--font-color);
  margin-bottom: 25px;
}
.home .details .bottom p {
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: justify;
  color: var(--font-color);
}
.home .details .bottom a {
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: center;
  color: var(--font-color);
}

.referenzen {
  padding-top: 60px;
  padding-bottom: 60px;
}
.referenzen h1 {
  font-size: 30px;
  padding-bottom: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--font-color);
}
.referenzen img {
  max-width: 300px;
}
.referenzen .center {
}
.referenzen .center h4 {
  font-size: 23px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--font-color);
}
.referenzen .center p {
  margin-top: 20px;
  max-width: 400px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.34;
  letter-spacing: normal;
  text-align: center;
  color: var(--font-color);
}

.referenzen .center button {
  display: block;
  margin: auto;
  margin-top: 30px;
  background-color: var(--main-color) !important;
  color: #fff !important;
  min-width: 170px;
  padding: 8px;
}
/*newsletter*/
.newsletter {
  max-width: 1440px;
  max-height: 240px;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 100%;
  background-image: url("../../images/newsletterbg.svg");
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: contain;
}
.newsletter .contents {
  padding: 100px 50px;

  display: flex;
}
.newsletter .contents p {
  padding-top: 10px;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: var(--font-color);
}
.newsletter .md-form.md-outline {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  border: 1px solid #fff;
  border-radius: 4px;
}
.newsletter input[type="text"]::placeholder {
  color: white;
  font-size: 14px;
  font-family: Gilroy;
}
.newsletter input[type="text"] {
  background: transparent;
  padding-right: 50px;
  border: 1px solid #fff !important;
  border-radius: 0.5rem;
  border-top-right-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
  color: #fff;
}

.newsletter .input-group-append .btn {
  height: 35px;
  padding-top: 5px !important;
  padding-bottom: 0 !important;
  margin-left: -70px !important;
  background-color: transparent !important;
  border-radius: 0 !important;
  border-left: #fff 1px solid;
}

.newsletter .input-group-append .btn img {
  padding-bottom: 5px;
  width: 30px;
}
/*ueber-ekm*/
.ueber-ekm {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fff;
}
.ueber-ekm h1 {
  font-size: 30px;
  padding-bottom: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--font-color);
}
.ueber-ekm p {
  padding-top: 30px;
  padding-right: 20%;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.42px;
  text-align: justify;
  color: var(--font-color);
}
.ueber-ekm .borderimg {
  float: left;
  background-size: contain !important;
  width: 30%;
}
.ueber-ekm .geschichte {
  padding-top: 50px;
  padding-bottom: 50px;
}
.ueber-ekm .geschichte h1 {
  float: none;
  font-size: 25px;
  padding-bottom: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--font-color);
  margin: auto;
  background-size: 70% 4px !important;
  width: unset;
}
.ueber-ekm .time {
  margin: auto;
}
.ueber-ekm .time .box {
  position: relative;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(22, 55, 78, 0.14);
  background-color: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
}
.ueber-ekm .time .box p {
  padding-right: 0;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: justify;
  color: #16374e;
}
/*ekm*/
.ekm {
  padding-top: 60px;
  padding-bottom: 60px;
}
.ekm h1 {
  font-size: 30px;
  padding-bottom: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--font-color);
}
.ekm .tab-section {
  margin-top: 50px;
}
.ekm .tab-section .nav-pills .nav-link {
  font-family: "Gilroy Ebold";
  max-width: 250px;
  padding: 10px 30px;
  border-radius: 11px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(
    78deg,
    var(--dark-turquoise-color),
    #0cefa5 100%
  );
  color: var(--font-color);
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  font-size: 20px;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 40px;
}

.ekm .tab-section .nav-item {
  display: flex;
  margin: auto;
}
.ekm .tab-section .tab-content {
  margin-top: 40px;
}
.ekm .tab-section p {
  padding: 8%;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: 0.42px;
  text-align: justify;
  color: var(--font-color);
}
.ekm .box {
  background: #fff;
  border-radius: 16.7px;
  box-shadow: 0 24px 43px 0 rgba(73, 85, 136, 0.2);
}
.ekm .box .title {
  display: flex;
  padding: 15px 15px 0;
}
.ekm .box .title h2 {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--font-color);
}
.ekm .box .title hr {
  width: 60%;
  height: 3px;
  border-radius: 1.5px;
  background-image: linear-gradient(
    78deg,
    var(--dark-turquoise-color),
    var(--light-turquoise-color) 100%
  );
}
.ekm .box .text p {
  font-size: 16px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: -0.78px;
  text-align: justify;
  color: var(--font-color);
  padding: 20px 30px;
}
.ekm .certificate .title {
  display: flex;
  padding: 15px 15px 0;
}
.ekm .certificate .title h2 {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--font-color);
}

.ekm .certificate .title hr {
  width: 75%;
  height: 3px;
  border-radius: 1.5px;
  background-image: linear-gradient(
    78deg,
    var(--dark-turquoise-color),
    var(--light-turquoise-color) 100%
  );
}

/*erfahrungen*/
.experience {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fff;
}

.experience h1 {
  font-size: 30px;
  padding-bottom: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--font-color);
}
.experience p {
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: justify;
  color: var(--font-color);
}

/**/
.services {
  padding-top: 60px;
  padding-bottom: 60px;
}
.services h1 {
  font-size: 30px;
  padding-bottom: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--font-color);
}
.services p {
  padding-right: 20%;
  font-size: 18px;

  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.42px;
  text-align: justify;
  color: var(--font-color);
}
.services .borderimg {
  float: left;
  background-size: contain !important;
  width: 18%;
}

.services .service-short img {
  max-width: 100px;
  margin-left: 0;
  object-fit: contain;
  margin-left: -20px;
}
.services .service-short h3 {
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: var(--font-color);
  margin-bottom: 32px;
}
.services .service-short p {
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: justify;
  color: var(--font-color);
}

.services .service-long .details p {
  padding-right: 0;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: -0.1px;
  color: var(--font-color);
}
.services .service-long .details .title {
  display: flex;
}
.services .service-long .details .title h2 {
  padding-left: 30px;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--font-color);
}
.services .service-long .details .title img {
  max-width: 66px;
  margin-left: -15px;
}
.services .service-long .details .list .block {
  padding-left: 30px;
}
.services .service-long .details .list .block h6 {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  color: #1b435e;
}

.services .service-long .details .list .block p {
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: var(--font-color);
}

/*references*/

.reference-block {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fff;
}
.reference-block h1 {
  font-size: 25px;
  padding-bottom: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--font-color);
}
.reference-block h2 {
  font-family: "Gilroy Ebold";
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--font-color);
}
.reference-block p {
  margin: auto;
  margin-top: 5px;
  max-width: 600px;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: center;
  color: #5d6970;
}
.references .box-container .box .square .squ {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 26px;
  height: 28px;
  background-image: url("../../images/small-square.svg");
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: contain;
  transition: top ease 0.5s;
}
.references .box-container .box .top .right .quote {
  padding: 0px 15px;
  width: 70px;
  height: 56px;
  background-image: url("../../images/quote.svg");
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: contain;
  margin-right: 10px;
  transition: top ease 0.5s;
}
.references .box-container .box:hover .squ {
  background-image: url("../../images/small-square-green.svg");
}
.references .box-container .box:hover .right .quote {
  background-image: url("../../images/quote-green.svg");
}
.references .box-container {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}
.references .box-container .box {
  margin-top: 70px;
  position: relative;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 40px 0 rgba(22, 55, 78, 0.14);
  background-color: #ffffff;
  top: 0;
  transition: top ease 0.5s;
}
.references .box-container .box:hover {
  top: -30px;
}

.references .box-container .box .top {
  display: flex;
}
.references .box-container .box .top .left {
  display: -webkit-inline-box;
}
.references .box-container .box .top .left .text {
  margin-left: 10px;
}
.references .box-container .box .top .left .text h6 {
  font-size: 14px;
  margin-top: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--font-color);
}
.references .box-container .box .top .left .text p {
  margin-top: 0;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--light-turquoise-color);
}
.references .box-container .box .top .right {
  position: absolute;
  right: 0;
}

.references .box-container .box .bottom p {
  padding: 30px 10px;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
  text-align: justify;
  color: var(--font-color);
}

/*Blog*/

.blog {
  padding-top: 60px;
}
.blog h1 {
  font-size: 30px;
  padding-bottom: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--font-color);
}
.blog .sub-title {
  margin-top: -20px;
}
.blog .sub-title p {
  margin: auto;
  max-width: 1000px;
  margin-top: 20px;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: center;
  color: #5d6970;
}
.blog-list {
  margin-top: 80px;
  margin-bottom: 80px;
}
.blog-list .right {
  position: relative;
  padding: 30px 20px;
  border-radius: 5px;
  box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.5);
  background-image: linear-gradient(33deg, #2ccccc, #0cefa5);
  min-height: 100%;
}
.blog-list .right .text {
  padding-top: 30px;
  display: inline-block;
  color: var(--white-color);
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
}
.blog-list .right .title h3 {
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: normal;
  color: #ffffff;
}
.blog-list .right .darkborder {
  float: left;
  background-size: auto !important;
}

.blog-list .tab-section .nav-pills .nav-link {
  color: #919eab;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  font-size: 20px;
  letter-spacing: normal;
  text-align: center;
  margin: auto;
}
.blog-list .tab-section .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--font-color);
  background-color: transparent;
  box-shadow: none;
  background-image: url("../../images/path-7.svg") !important;
  background-position: bottom !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

.blog-card {
  margin-bottom: 20px;
  object-fit: contain;
  border-radius: 5px;
  box-shadow: 0 0 40px 0 rgba(22, 55, 78, 0.14);
  background-color: #f9fafb;
}
.blog-list .right button {
  position: absolute;
  bottom: 10%;
  left: 22%;
  margin: auto;
  border-radius: 19px !important;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.25) !important;
  color: var(--white-color) !important;
  background-color: #1b435e !important;
  display: block;
  min-width: 200px;
  padding: 8px !important;
}
.blog-card .text {
  padding: 15px 15px 0 15px;
}
.blog-card .text h3 {
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--font-color);
}
.blog-card .text a h6 {
  margin-bottom: 5px !important;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #919eab;
}

.blog-card .text p {
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #919eab;
}
.blog-card button {
  float: right;
  border-radius: 19px !important;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.25) !important;
  color: var(--white-color) !important;
  background-color: #1b435e !important;
  display: block;
  min-width: 122px;
  padding: 8px !important;
}

.blog-detail {
  padding-top: 60px;
  padding-bottom: 60px;
}
.blog-detail .box {
  margin-top: 10px;
  position: relative;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 40px 0 rgba(22, 55, 78, 0.14);
  background-color: #ffffff;
}
.blog-detail .box .top h1 {
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #212b36;
}
.blog-detail .box .top p {
  text-align: right;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.96;
  letter-spacing: normal;
  color: #919eab;
}
.blog-detail .box .cat p {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #919eab;
}
.blog-detail .description {
  margin-top: 50px;
}
.blog-detail .box .auth {
  padding-top: 10px;
  display: flex;
}
.blog-detail .box .auth span {
  color: var(--font-color);
  font-weight: bold;
}
/*Contact*/
.contact {
  padding-bottom: 5rem;
}
.contact .card-body {
  padding: 0 !important;
  border-radius: 30px;
}
.contact .card.card-cascade.wider {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.contact .peach-gradient {
  background: var(--main-color) !important;
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.contact .card.card-cascade .view.view-cascade {
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
    0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.contact .card.card-cascade.wider .view.view-cascade {
  z-index: 2;
}
.contact .card.card-cascade.wider .card-body.card-body-cascade {
  z-index: 1;
  margin-right: 4%;
  margin-left: 4%;
  background: #fff;
  border-radius: 0 0 0.25rem 0.25rem;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.contact .card.card-cascade.wider.reverse .card-body.card-body-cascade {
  z-index: 3;
  width: 80%;
  margin: -7rem auto;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
    0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.contact .right {
  padding-left: 40%;
}
.contact .right .box {
  display: flex;
  margin-top: 80px;
}
.contact .right .box img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
.contact .right .box h3 {
  display: -webkit-inline-box;
  color: var(--white-color);
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
}

.contact .map {
  padding-bottom: 35px;
  width: 100%;
  border-radius: 10px;
  display: contents;
}
.contact .map .mapouter {
  position: relative;
  text-align: right;
  height: 350px;
  border-radius: 30px;
  width: 100%;
}
.contact.map .gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 350px;
  width: 100%;
  border-radius: 10px;
}
.contact .map .gmap_canvas iframe {
  width: 100%;
  border-radius: 10px;
}
.contact hr {
  margin-top: 40px;
  color: var(--line-color);
  height: 1px;
  text-align: center;
  width: 90%;
  background-color: var(--line-color);
  border: solid 1px var(--line-color);
  margin-bottom: 30px;
}
.contact .form {
  padding-top: 12rem;
}
.contact .form h1 {
  font-size: 30px;
  padding-bottom: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--font-color);
}
.contact .sub-title {
  margin-top: 60px;
}
.contact .sub-title h4 {
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--font-color);
  text-align: center;
}
.contact .sub-title p {
  margin: auto;
  max-width: 500px;
  margin-top: 20px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  text-align: center;
}
.contact form {
  margin: 50px auto;
  padding-left: 20%;
  padding-right: 20%;
}
.contact form .md-form.md-outline {
  background-color: var(--white-color);
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
.contact form .md-form.md-outline input:focus {
  border-color: var(--light-turquoise-color) !important;
  border-bottom: 1px solid var(--light-turquoise-color) !important;
}
.contact form .md-form input:focus {
  border-color: var(--light-turquoise-color) !important;
  border-bottom: 1px solid var(--light-turquoise-color) !important;
}
.contact form .custom-select:focus {
  box-shadow: none;
  border-color: var(--light-turquoise-color) !important;
  border-bottom: 1px solid var(--light-turquoise-color) !important;
}
.contact form .md-form.md-outline label {
  font-family: Gilroy;
}
.contact form .md-form input:focus + label {
  color: var(--font-color) !important;
  font-weight: 600;
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #ffffff,
    rgb(204, 228, 255, 0.2) 43%,
    rgb(204, 228, 255, 0.2) 100%
  );
}
.contact form button {
  margin: 60px auto;
  padding: 12px !important;
  color: #fff !important;
  background-color: var(--main-color) !important;
  object-fit: contain;
  border-radius: 10px !important;
}
.contact form button i {
  border-left: 1px #fff solid;
  padding-left: 20px;
  margin-left: 20px;
  font-size: 18px;
}
/*Footer*/
footer.page-footer {
  background-color: transparent;
}
footer.page-footer a {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--font-color) !important;
}
footer .title {
  font-family: Gilroy Ebold;
  font-size: 14px;
  font-weight: bolder;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--font-color);
}
footer .img-fluid {
  width: 130px;
}
footer.page-footer .footer-copyright {
  background-color: transparent !important;
  overflow: hidden;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--font-color) !important;
}
.footer p {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--font-color);
}
footer .social {
  display: flex;
  list-style: none;
}

footer .social li {
  display: inline-flex;
  padding-right: 30px;
}

.not-found {
  height: 100vh;
  padding: 5rem 10rem;
}
.not-found h1 {
  margin: auto;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #1b435e;
}
.not-found p {
  font-size: 30px;
  margin: auto;
  padding-top: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #1b435e;
}
.not-found button {
  margin: 5rem auto;
  width: 299px;
  height: 38px;
  border-radius: 19px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(83deg, #2ccccc, #0cefa5);
}
.not-found img {
  max-width: 600px;
  display: block;
  margin: auto;
}
.not-found a {
  margin: auto;
}
/*responsive queries*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {
  .col,
  .col-1,
  .col-10,
  .col-11,
  .col-12,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-auto,
  .col-lg,
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-auto,
  .col-md,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-auto,
  .col-sm,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-auto,
  .col-xl,
  .col-xl-1,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-auto {
    padding-right: 30px !important;
    padding-left: 30px !important;
  }
  .promo .view .mask {
    background-image: url("../../images/mobile-bg.svg") !important;
    background-position: top !important;
    background-size: contain;
    height: auto !important;
  }
  .promo .view .mask {
    height: auto !important;
  }
  .promo .view img,
  .view video {
    position: relative !important;
    top: 5rem !important;
    display: block;
  }
  .promo .view h1 {
    margin-top: 100px !important;
    color: var(--font-color);
  }
  .promo .view h6 {
    margin-top: 20px;
    font-size: 14px;
    color: var(--font-color);
  }
  .promo .view .box .btn {
    float: left;
  }
  .btn.aqua-gradient {
    font-weight: bold;
  }
  .promo .view .box {
    margin-top: 40px;
    height: 30px;
    border-radius: 30px !important;
    background-color: rgba(22, 55, 78, 0.8);
  }
  .home {
    padding-top: 10px;
    background-color: #fff;
    padding-bottom: 60px;
  }
  .home h1 {
    font-size: 20px;
    font-weight: bold;
  }
  .home .details {
    margin-top: 40px;
  }
  .home .details h2 {
    font-size: 25px;
    margin-top: 20px;
  }
  .home .details p {
    font-size: 14px;
  }
  .home .details .bottom {
    display: inline-flex;
  }
  .home .details .bottom img {
    margin-top: -50px;
  }
  .home .details .bottom h3 {
    font-family: Gilroy Ebold;
    margin-top: 0px;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .home .details .bottom p {
    font-size: 14px;
  }
  .home .details .bottom a {
    font-family: Gilroy Ebold;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: var(--font-color);
  }
  .referenzen h1 {
    font-size: 20px;
  }
  .referenzen .center h4 {
    font-family: Gilroy Ebold;
    font-size: 20px;
    text-align: left;
  }
  .referenzen .center p {
    font-size: 14px;
    text-align: left;
  }
  .newsletter {
    background-size: cover;
    border-radius: 20px;
    margin-bottom: 0px;
  }
  .newsletter .contents {
    display: block;
    padding: 40px 40px;
  }
  .newsletter .contents p {
    font-size: 14px;
  }
  .ueber-ekm {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .ueber-ekm h1 {
    font-family: Gilroy Ebold;
    text-align: center;
    margin: auto;
    font-size: 25px;
  }
  .ueber-ekm .borderimg {
    float: none;
    background-size: contain !important;
    width: 40%;
  }
  .ueber-ekm p {
    padding-right: 0;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: justify;
    color: var(--font-color);
  }

  .ekm {
    padding-top: 20px;
    padding-bottom: 60px;
  }
  .ekm h1 {
    font-family: Gilroy Ebold;
    font-size: 25px;
    font-weight: bold;
  }
  .ekm .tab-section .nav-item {
    display: flex;
    margin: 0px auto;
  }

  .ekm .box .title h2 {
    font-family: Gilroy Ebold;
    font-size: 20px;
  }
  .ekm .tab-section .tab-content > .tab-pane p {
    font-size: 14px;
  }
  .ekm .certificate .title h2 {
    font-family: Gilroy Ebold;
    font-size: 20px;
  }
  .brater-img {
    display: block;
    margin: auto;
    width: 60%;
  }
  .experience {
    padding-top: 20px;
  }
  .experience h1 {
    font-family: Gilroy Ebold;
    font-size: 25px;
    font-weight: bold;
  }
  .experience p {
    margin-top: 50px;
  }
  .contact {
    padding-bottom: 0rem;
  }
  .contact .right {
    padding-left: 0;
  }
  .contact .right .box {
    display: flex;
    margin-top: 30px;
  }
  .contact .right .box h3 {
    font-size: 18px;
  }
  .contact form {
    margin: 50px auto;
    padding-left: 25px;
    padding-right: 25px;
  }

  .services {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .services .borderimg {
    float: unset;
    background-size: contain !important;
    width: min-content;
  }
  .services h1 {
    font-family: Gilroy Ebold;
    text-align: center;
    font-size: 25px;
    margin: auto;
  }
  .services p {
    margin-top: 30px;
    padding-right: 0;
    font-size: 14px;
  }
  .services .service-short {
    display: inline-flex;
  }
  .services .service-short img {
    margin-top: -60px;
  }
  .services .service-short h3 {
    font-family: Gilroy Ebold;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .services .service-short p {
    font-size: 14px;
    margin-top: 0;
  }
  .services .service-long .details {
    margin-top: 30px;
  }
  .services .service-long .details .title h2 {
    font-family: Gilroy Ebold;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 18px;
  }
  .services .service-long .details p {
    margin-top: 10px;
  }
  .services .service-long .details .title img {
    height: 66px;
  }
  .blog h1 {
    font-size: 20px;
  }
  .blog .sub-title p {
    font-size: 14px;
  }
  .blog-list {
    margin-bottom: 20px;
  }
  .blog-list .right button {
    bottom: 5px;
    left: 18%;
  }
  .blog-list .right .text {
    padding-bottom: 30px;
  }
  .blog-detail .box .top p {
    text-align: left;
    font-size: 14px;
    float: left;
  }
  .ekm .tab-section p {
    font-size: 14px;
    margin-top: 20px;
    padding: 0px;
  }
  .ekm .tab-section .nav-pills .nav-link {
    max-width: 220px;
    font-size: 16px;
    margin: 30px auto;
  }
  .ueber-ekm .geschichte {
    padding-top: 50px;
    padding-bottom: 0;
    margin-bottom: 50px;
  }
  .ueber-ekm .carousel-indicators {
    position: initial;
  }
  .rectangle {
    margin-top: -5px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 768px) and (min-width: 992px) {
}

@media only screen and (min-width: 992px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}
@media only screen and (max-width: 991px) {
  .promo .view h1 {
    margin-top: 130px !important;
    color: var(--font-color);
  }
  .navbar {
    width: 100%;
  }
  .navbar-collapse {
    background-color: var(--main-color);
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .navbar-nav .dropdown-menu.show {
    position: relative !important;
    transform: translate3d(0px, 0px, 0px) !important;
  }
  .reference-block {
    padding-top: 20px;
  }
  .reference-block h1 {
    font-size: 22px;

    font-family: Gilroy Ebold;
  }
  .reference-block h2 {
    font-size: 18px;
  }
  .reference-block p {
    font-size: 14px;
  }
  .references .box-container .box .top .right .quote {
    background-image: url("../../images/quote-green.svg");
  }
  .references .box-container .box .square .squ {
    background-image: url("../../images/small-square-green.svg");
  }
  .references .box-container .box {
    margin: 50px 10px 10px 10px;
    box-shadow: 0 0 10px 0 rgba(22, 55, 78, 0.14);
  }
  .scrolly {
    width: 100%;
    overflow: auto;
    overflow-y: hidden;
    margin: 0 auto;
    white-space: nowrap;
  }

  .scrolly img {
    margin: 20px 10px;
    display: inline;
  }
  .scrolly a {
    margin: 20px 10px;
    display: inline;
  }
  .not-found {
    height: auto;
    padding: 30px 30px;
  }
  .not-found h1 {
    font-size: 22px;
  }
  .not-found p {
    font-size: 22px;
  }
  .not-found button {
    margin: 3rem auto;
    width: 299px;
    height: 38px;
    border-radius: 19px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(83deg, #2ccccc, #0cefa5);
  }
  .not-found a {
    margin: auto;
  }
  .not-found img {
    width: 70%;
    max-width: 100%;
    display: block;
    margin: auto;
  }
  #nav-bg {
    background-color: var(--main-color);
    border-radius: unset;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 993px) and (min-width: 1199px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

.carousel-control-next {
  background-image: url("../../images/right-arrow.svg");
  background-repeat: no-repeat;
  top: -200px;
  background-position: right;
  opacity: 1;
}
.carousel-control-prev {
  background-image: url("../../images/left-arrow.svg");
  top: -200px;
  background-repeat: no-repeat;
  background-position: left;
  opacity: 1;
}
