:root {
    --main-color: #1b435e;
    --navy-blue: #212b36;
    --dark-turquoise-color: #2ccccc;
    --light-turquoise-color: #0cefa5;
    --font-color: #16374e;
    --white-color: #ffffff;
    --grey-color: #f2f2f2;
  }
  